import * as React from 'react';

export interface {{pascalCase name}}Props {
  name?: string;
}

export interface {{pascalCase name}}ProviderProps {
  children: React.ReactNode;
};

export const {{pascalCase name}} = React.createContext<{{pascalCase name}}Props | undefined>(undefined);

export const {{pascalCase name}}Provider = ({ children }: {{pascalCase name}}ProviderProps) => {
  return <div>{children}</div>;
};
